{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
	<link rel="SHORTCUT ICON" href="{% static 'img/Emblem.jpg' %}">
	<script src="https://kit.fontawesome.com/05c23298b2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>دومین مسابقه ملی نبرد اپلیکیشن‌ها</title>
</head>

OB<body>
<!-- Navbar -->
<nav class="navbar" id="navbarid">
	<a href="javascript:void(0);" class="icon" onclick="toggle_nav()">
		<i class="fa fa-bars" style="color: bisque"></i>
	</a>
	<a href="#header" id="nav-brand" class="active">مسابقه ملی نبرد اپلیکیشن‌ها</a>
	<a href="#section-info">معرفی</a>
	<a href="#staff">کمیته علمی و اجرایی</a>
	<a href="#summary">توضیحات مسابقه</a>
	<a href="#timetable">زمان‌بندی و ثبت نام</a>
	<a href="#sponsors">حامیان</a>
	<a href="#contact">ارتباط با ما</a>
</nav>
<div class="clear-fix"></div>

<!-- Header -->
<header id="header">
	<div class="container">
		<div class="row">
			<img src="{% static 'img/nabardlogo.png' %}" alt="مسابقه نبرد اپلیکیشن‌ها">
			<h1 class="heading-1">دومین دوره از مسابقات ملی نبرد اپلیکیشن‌ها</h1>
			<a href="#section-info" id="heading-link"><i class="fas fa-arrow-circle-down"></i></a>
		</div>
	</div>
</header>

<!-- Information -->
<section id="section-info">
	<div class="container" style="text-align: center;">
		<h2>درباره مسابقه</h2>
		<span class="underline" style="margin-top: 0;"></span>
		<div class="row">
			<!-- <span class="underline"></span> -->
			<p id="info-p" dir="rtl">
				دانشکده مهندسی کامپیوتر دانشگاه اصفهان، میزبان برگزاری دومین دوره از مسابقات ملی نبرد اپلیکیشن‌ها
				 در 24 مهرماه 98
				می‌باشد.
                <br />
				<a href="http://ui.ac.ir/Dorsapax/userfiles/Sub108/comp/app-ui.pdf">اولین دوره از مسابقات نبرد
					اپلیکیشن‌ها</a> در آبان 1393 در دانشگاه اصفهان برگزار
				گردید و مورد
				استقبال زیاد شرکت کنندگان قرار
				گرفت. در این دوره از مسابقات، توانایی شرکت کنندگان در کارآفرینی، حل مشکلات و استفاده از فرصت‌ها
				به چالش کشیده می‌شود. در
				این مسابقه لازم است شرکت کنندگان ابتدا ایده پردازی کرده و سپس ایده‌های خود را در قالب اپلیکیشن
				های موبایل یا وب پیاده
				سازی کنند.
				اپلیکیشن‌های ارسال شده توسط کمیته علمی ارزیابی خواهد شد و تیم‌های برتر برای ارائه حضوری در روز
				مسابقه دعوت خواهند شد.
				سپس در روز مسابقه سه تیم برگزیده انتخاب شده و مورد تقدیر قرار خواهند گرفت. تیم‌های برگزیده از
				جوایز ارزنده و همچنین
				حمایت شتاب دهنده هاب برخوردار خواهند شد .
				تیم ارزیابی شامل اعضای کمیته علمی مسابقه و نمایندگان شرکت شتاب دهنده هاب می‌باشد. در این مسابقه
				به ایده کسب و کار، پیاده
				سازی و تکنولوژی‌های استفاده شده امتیاز داده می‌شود.
			</p>
			<!-- <a href="#" id="info-link">GET STARTED!</a> -->
			<div class="info-image">
				<img src="{% static 'img/poster.jpg' %}" alt="نبرد اپلیکیشن‌ها" height="445">
			</div>
		</div>
	</div>
</section>

<!-- staff -->
<section id="staff">
	<div class="container">
		<div class="row">
			<h2>اعضای کمیته علمی</h2>
			<h1>( به ترتیب حروف الفبا )</h1>
			<span class="underline"></span>
			<div class="masters">
				<div class="master-item">
					<a href="http://eng.ui.ac.ir/~bohlooli">
						<img src="{% static 'img/photos/Bohlooli.jpg' %}" alt="">
					</a>
					<h3>دکتر علی بهلولی</h3>
					<p>دانشگاه اصفهان</p>
				</div>
				<div class="master-item">
					<a href="http://eng.ui.ac.ir/~ahmadb">
						<img src="{% static 'img/photos/baraani2.jpg' %}" alt="">
					</a>
					<h3>دکتر احمد براآنی</h3>
					<p>دانشگاه اصفهان</p>
				</div>

				<div class="master-item">
					<a href="https://isfahanhub.com/">
						<img src="{% static 'img/photos/akochekiyan.jpg' %}" alt="">
					</a>
					<h3>دکتر محمد آکوچکیان</h3>
					<p>شرکت هوشمند اول برنای اصفهان</p>
				</div>
				<div class="master-item">
					<a href="https://www.linkedin.com/in/marzieh-jalal-abadi?originalSubdomain=ca">
						<img src="{% static 'img/photos/jalal.png' %}" alt="">
					</a>
					<h3>دکتر مرضیه جلال آبادی</h3>
					<p>دانشگاه شریف</p>
				</div>
				<div class="master-item">
					<a href="http://eng.ui.ac.ir/~ladani">
						<img src="{% static 'img/photos/ladani2.jpg' %}" alt="">
					</a>
					<h3>دکتر بهروز ترک لادانی</h3>
					<p>دانشگاه اصفهان</p>
				</div>

				<div class="master-item">
					<a href="https://ece.iut.ac.ir/user/2716">
						<img src="{% static 'img/photos/basiri.jpg' %}" alt="">
					</a>
					<h3>دکتر علیرضا بصیری</h3>
					<p>دانشگاه صنعتی اصفهان</p>
				</div>
				<div class="master-item">
					<a href="http://eng.ui.ac.ir/~a_fatemi">
						<img src="{% static 'img/photos/fatemi.jpg' %}" alt="">
					</a>
					<h3>دکتر افسانه فاطمی</h3>
					<p>دانشگاه اصفهان</p>
				</div>
				<div class="master-item">
					<a href="http://eng.ui.ac.ir/~shahgholi">
						<img src="{% static 'img/photos/shahgholi.jpg' %}" alt="">
					</a>
					<h3>دکتر بهروز شاهقلی</h3>
					<p>دانشگاه اصفهان</p>
				</div>
				<div class="master-item">
					<a href="http://eng.ui.ac.ir/~r.ramezani">
						<img src="{% static 'img/photos/ramezani.jpg' %}" alt="">
					</a>
					<h3>دکتر رضا رمضانی</h3>
					<p>دانشگاه اصفهان</p>
				</div>
				<div class="master-item">
					<a href="http://eng.ui.ac.ir/~n.moghim">
						<img src="{% static 'img/photos/moghim.jpg' %}" alt="">
					</a>
					<h3>دکتر ندا مقیم</h3>
					<p>دانشگاه اصفهان</p>
				</div>
				<div class="master-item">
					<a href="https://www.sku.ac.ir/~karimi">
						<img src="{% static 'img/photos/karimi2.jpg' %}" alt="">
					</a>
					<h3>دکتر زهرا کریمی</h3>
					<p>دانشگاه شهرکرد</p>
				</div>
				<div class="master-item">
					<a href="http://depeng.uk.ac.ir/~mghazvini">
						<img src="{% static 'img/photos/ghazvini.jpg' %}" alt="">
					</a>
					<h3>دکتر مهدیه قزوینی کر</h3>
					<p>دانشگاه شهید باهنر کرمان</p>
				</div>
				<div class="master-item">
					<a href="http://eng.ui.ac.ir/~nematbakhsh">
						<img src="{% static 'img/photos/nematbakhsh2.jpg' %}" alt="">
					</a>
					<h3>دکتر محمدعلی نعمت بخش</h3>
					<p>دانشگاه اصفهان</p>
				</div>
				<div class="master-item">
					<a href="http://eng.ui.ac.ir/~m.mahdavi">
						<img src="{% static 'img/photos/mahdavi.jpg' %}" alt="">
					</a>
					<h3>دکتر مجتبی مهدوی</h3>
					<p>دانشگاه اصفهان</p>
				</div>
			</div>
			<h2>تیم اجرایی</h2>
			<span class="underline"></span>
			<div class="master-staff">
				<div class="master-item">
					<a href="http://eng.ui.ac.ir/~sh.rahimi">
						<img src="{% static 'img/photos/shekoufeh2.jpg' %}" alt="">
					</a>
					<h3>دکتر شکوفه کلاهدوز رحیمی</h3>
					<p>دبیر مسابقه</p>
					<p>دانشگاه اصفهان</p>
				</div>
				<div class="master-item">
					<a href="http://eng.ui.ac.ir/~kaedi">
						<img src="{% static 'img/photos/kaedi2.jpg' %}" alt="">
					</a>
					<h3>دکتر مرجان کائدی</h3>
					<p>دبیر مسابقه <br>دانشگاه اصفهان</p>
				</div>

			</div>
			<div class="staff">
				<div class="master-item">
					<img src="{% static 'img/photos/seyed2.jpg' %}" alt="">
					<h3>سید محمدرضا رضوی</h3>
					<p>مسئول امور اجرایی</p>
				</div>
				<div class="master-item">
					<img src="{% static 'img/photos/ghojavand2.jpg' %}" alt="">
					<h3>حسین قجاوند</h3>
					<p>مسئول امور اجرایی</p>
				</div>
				<div class="master-item">
					<img src="{% static 'img/photos/jahanbin2.jpg' %}" alt="">
					<h3>امیر جهان بین</h3>
					<p>مسئول امور اجرایی</p>
				</div>
				<div class="master-item">
					<a href="http://rezapazan.cvbuilder.me">
						<img src="{% static 'img/photos/pazan.jpg' %}" alt="">
					</a>
					<h3>رضا پازن</h3>
					<p>توسعه دهنده سایت</p>
				</div>

				<div class="master-item">
					<a href="https://www.linkedin.com/in/mmoallemi99">
						<img src="{% static 'img/photos/Moalemi.jpg' %}" alt="">
					</a>
					<h3>محمد معلمی</h3>
					<p>توسعه دهنده سایت</p>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="clear-fix"></div>

<!-- summary -->
<section id="summary">
	<div class="container">
		<div class="row">
			<h2>توضیحات مسابقه</h2>
			<span class="underline"></span>
			<p dir="rtl">شرکت کنندگان در این مسابقه ابتدا باید ایده‌ای برای کسب و کار و درآمدزایی ارائه دهند و
				سپس آن رادر
				قالب یک اپلیکیشن موبایل
				یا وب پیاده‌سازی کنند.
				تعداد اعضا هر تیم بین 1 تا 5 نفر می‌باشد. هر تیم می‌تواند حداکثر 3 اپلیکیشن ارسال کند. همچنین
				حضور شرکت کنندگان در بیش
				از یک تیم بلامانع است.
				تیم‌های شرکت کننده باید موارد زیر را از طریق لینک ثبت نام ارسال کنند.
			</p>
			<div class="table" style="overflow-x: auto;">
				<table>
					<tr>
						<th>توضیحات</th>
						<th>مورد</th>
					</tr>
					<tr>
						<td>نمونه اولیه از اپلیکیشن کافی است و لزومی‌به ارائه اپلیکیشن نهایی نیست</td>
						<td>اپلیکیشن طراحی شده توسط تیم</td>
					</tr>
					<tr>
						<td>
							<a href="{% static 'NabardTemplate.pptx' %}">
								*نمونه پاورپوینت ارائه شده
							</a>
							<a href="{% static 'Nabard.pptx' %}">
								دانلود فرمت پاورپوینت
							</a>
						</td>
						<td>فایل پاورپوینت ارائه</td>
					</tr>
				</table>
			</div>
			<p class="table-content" dir="rtl">*
				درمورد طرح ارائه شده
				مدتی از ارائه این اپلیکیشن گذشته، در حال حاضر تجاری شده و وارد بازار شده است. ولی طرح‌های
				دانشجویان نیاز نیست به این
				مرحله رسیده باشد.
				می‌توانید کلا رنگ و تمپلیت را هم به سلیقه خودتان عوض کنید
				*
			</p>
		</div>
	</div>
</section>

<!-- Time plan -->
<section id="timetable">
	<div class="container">
		<div class="row">
			<h2>زمان بندی مسابقه</h2>
			<div class="table" style="overflow-x: auto;">
				<table>
					<tr>
						<th>هزینه</th>
						<th>خاتمه</th>
						<th>شروع</th>
						<th>ثبت نام</th>
					</tr>
					<tr>
						<td>پنجاه هزار تومان</td>
						<td>98/06/31</td>
						<td>98/04/01</td>
						<td>همراه با تخفیف</td>
					</tr>
					<tr>
						<td>یکصد و پنجاه هزار تومان</td>
						<td>98/07/15</td>
						<td>98/07/01</td>
						<td>بدون تخفیف</td>
					</tr>
				</table>
			</div>
			<p>برگزاری مسابقه: 24 مهر ماه</p>
			<a href="{% url 'nabard:team_register' %}" id="signup-link">ثبت نام</a>
		</div>
		<span class="underline" style="width: 70%; margin-left: 15%; margin-top: 50px;"></span>
		<div class="workshops">
			<h2>کارگاه‌های مرتبط</h2>
			<a href="http://shekoufehrahimi.com/UINabard/site/images/nabard1.jpg">دومین دوره کارگاه خلق
				اپلیکیشن و درآمدزایی</a>
			<a href="http://shekoufehrahimi.com/UINabard/site/images/nabard2.jpg">اولین دوره کارگاه خلق اپلیکیشن
				و درآمدزایی</a>

		</div>
	</div>
</section>

<!-- Sponsers -->
<section id="sponsors">
	<div class="container">
		<div class="row">
			<h2>حامیان مسابقه</h2>
			<!-- <a href="#" id="download-link">Download Now!</a> -->
			<div class="sponsors-items">
				<div class="item">
					<a href="http://comp.ui.ac.ir/"><img src="{% static 'img/uni.png' %}" alt=""></a>
					<p>دانشکده مهندسی کامپیوتر</p>
				</div>
				<div class="item">
					<a href="https://isfahanhub.com/"><img src="{% static 'img/hub2.png' %}" alt=""></a>
					<p dir="rtl">شرکت هوشمند اول برنای اصفهان (هاب)</p>
				</div>
				<div class="item">
					<a href="http://sace.ui.ac.ir/"><img src="{% static 'img/anj2.png' %}" alt=""></a>
					<p>انجمن علمی مهندسی کامپیوتر دانشگاه اصفهان</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Contact -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2>راه‌های ارتباط با ما</h2>
				<span class="underline"></span>
			</div>
			<div class="contact-items">
				<ul>
					<li>
						<i class="fas fa-phone"></i>
						<p>031-37934521<br>031-37935641</p>
					</li>
					<li>
						<i class="fas fa-envelope"></i>
						<p>kaedi@eng.ui.ac.ir<br>sh.rahimi@eng.ui.ac.ir</p>
					</li>
					<li>
						<i class="fas fa-map-marked-alt"></i>
						<p>اصفهان، میدان آزادی، خیابان
							دانشگاه،
							دانشکده
							مهندسی کامپیوتر
						</p>
					</li>
					<li>
						<i class="fab fa-telegram"></i>
						<p>@shekoufehrahimi</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<!-- Footer -->
<footer id="contact-us">
	<div class="container">
		<p>
			Copyright &copy; 2019 -
			<a href="http://rezapazan.cvbuilder.me">Reza Pazan</a>
			&amp;
			<a href="https://www.linkedin.com/in/mmoallemi99">Mohammad Moallemi</a>
		</p>
	</div>
</footer>
<script>
    function toggle_nav() {
        var x = document.getElementById("navbarid");
        if (x.className === "navbar") {
            x.className += " responsive";
        } else {
            x.className = "navbar";
        }
    }

    $(document).ready(function () {
        $("a").on('click', function (event) {
            if (this.hash !== "") {

                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {
                    window.location.hash = hash;
                });
            }
        });
    });
    var prevScrollpos = window.pageYOffset;
    var p = document.getElementById("header");
    var position = p.offsetTop + 500;
    window.onscroll = function () {

        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {

            document.getElementById("jump-to-top").style.opacity = 0;
        }
        if (prevScrollpos < currentScrollPos && prevScrollpos > position) {

            document.getElementById("jump-to-top").style.opacity = 1
        }
        prevScrollpos = currentScrollPos;
    };
</script

<!-- Default Statcounter code for Battle of Apps
http://nabard.comp.ui.ac.ir -->
<script type="text/javascript">
var sc_project=12039859; 
var sc_invisible=1; 
var sc_security="56f31dc8"; 
var sc_https=1; 
var sc_remove_link=1; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><img class="statcounter"
src="https://c.statcounter.com/12039859/0/56f31dc8/1/"
alt="web stats"></div></noscript>
<!-- End of Statcounter Code -->

</body>

</html>
