{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://kit.fontawesome.com/05c23298b2.js"></script>
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
	<title>فرم ثبت نام</title>
</head>

<body>
<div class="container">
	<div class="row">
		<h2>فرم ثبت نام</h2>
		<span class="underline"></span>
	</div>
	<form action="{% url 'nabard:team_register' %}" method="POST" enctype="multipart/form-data">
		{{ members_formset.management_form }}
		{% for form in members_formset.forms %}
			<div class="form-group">
				<label for="{{ form.full_name.id_for_label }}" dir="rtl">عضو شماره {{ forloop.counter }}:</label>
				{{ form.full_name }}
				{{ form.full_name.errors }}
			</div>
		{% endfor %}

		<div class="form-group">
			<label for="{{ team_form.app_title.id_for_label }}" dir="rtl">عنوان طرح :</label>
			{{ team_form.app_title }}
			{{ team_form.app_title.errors }}
		</div>

		<div class="form-group">
			<label for="{{ team_form.email.id_for_label }}" dir="rtl">ایمیل :</label>
			{{ team_form.email }}
			{{ team_form.email.errors }}
		</div>
		<div class="form-group">
			<label for="{{ team_form.phone_number.id_for_label }}" dir="rtl">شماره موبایل :</label>
			{{ team_form.phone_number }}
			{{ team_form.phone_number.errors }}
		</div>

		{% csrf_token %}
		<div class="submits">
			<input type="submit" value="ارسال">

			<label for="{{ team_form.powerpoint_file.id_for_label }}" dir="rtl">
				فایل ارائه را در قالب pptx پیوست کنید:
				<i class="fas fa-file-upload"></i>
			</label>
			{{ team_form.powerpoint_file }}
			{{ team_form.powerpoint_file.errors }}

			<label for="{{ team_form.app_file.id_for_label }}" dir="rtl">
				فایل اپلیکیشن خود را در قالب zip پیوست کنید:
				<i class="fas fa-file-upload"></i>
			</label>
			{{ team_form.app_file }}
			{{ team_form.app_file.errors }}


		</div>
	</form>
	<h1>: توجه</h1>
	<p dir="rtl" style="margin-top:20px;">جهت ارسال فایل های خود روی دکمه های آبی رنگ به شکل فایل کلیک کنید.</p>
	<p id="notification" dir="rtl">
		اپلیکیشن های ارسال شده توسط کمیته علمی ارزیابی خواهد شد و تیم های برتر برای ثبت نام و ارائه حضوری در روز
		مسابقه دعوت
		خواهند شد.
	</p>
</div>
<footer id="contact-us">
	<div class="container">
		<p>
			Copyright &copy; 2019 -
			<a href="http://rezapazan.cvbuilder.me">Reza Pazan</a>
			&amp;
			<a href="https://www.linkedin.com/in/mmoallemi99">Mohammad Moallemi</a>
		</p>
	</div>
</footer>
</body>
</html>
